{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% bootstrap_css %}
    <title>NextTrack AI Platform</title>
</head>
<body>

    {% include 'nexttrack_app/header.html' %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'nexttrack_app/footer.html' %}

    {% bootstrap_javascript jquery='full' %}
</body>
</html>